# Setup

In [56]:
# TODO: Verify that Python 3+ exists

import requests

import pandas as pd

from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge

from sklearn.metrics import mean_squared_error

# Setup pipeline paths

In [18]:
# Directory of the raw data files
_data_root = './data/'

# Create the dataset directory
!mkdir -p {_data_root}

PATH_RAW_DATA_JAN_2022 = f'{_data_root}NYC-Taxi-Dataset-2022-01.parquet'
PATH_RAW_DATA_FEB_2022 = f'{_data_root}NYC-Taxi-Dataset-2022-02.parquet'

URL_RAW_DATA_JAN_2022 = 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-01.parquet'
URL_RAW_DATA_FEB_2022 = 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-02.parquet'

# Load and prepare the dataset

In [10]:
def download_file(url: str, save_path: str) -> None:
    """Download any type of file and save it locally.

    Args:
        url (str): URL of data file
        save_path (str): Local path to save the file
    """

    response = requests.get(url)
    with open(save_path, 'wb') as file:
        file.write(response.content)

## Download data

In [22]:
try:
    download_file(URL_RAW_DATA_JAN_2022, PATH_RAW_DATA_JAN_2022)
    download_file(URL_RAW_DATA_FEB_2022, PATH_RAW_DATA_FEB_2022)
    print(f"Data downloaded, check the folder {_data_root}")
except Exception as e:
    print(f"Error: {e}")

Data downloaded, check the folder ./data/

## Load data

In [45]:
df_january = pd.read_parquet(PATH_RAW_DATA_JAN_2022)
df_january

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.50,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.00,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.50,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.00,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.50,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2463926,2,2022-01-31 23:36:53,2022-01-31 23:42:51,NaN,1.32,NaN,None,90,170,0,8.00,0.0,0.5,2.39,0.0,0.3,13.69,NaN,NaN
2463927,2,2022-01-31 23:44:22,2022-01-31 23:55:01,NaN,4.19,NaN,None,107,75,0,16.80,0.0,0.5,4.35,0.0,0.3,24.45,NaN,NaN
2463928,2,2022-01-31 23:39:00,2022-01-31 23:50:00,NaN,2.10,NaN,None,113,246,0,11.22,0.0,0.5,2.00,0.0,0.3,16.52,NaN,NaN
2463929,2,2022-01-31 23:36:42,2022-01-31 23:48:45,NaN,2.92,NaN,None,148,164,0,12.40,0.0,0.5,0.00,0.0,0.3,15.70,NaN,NaN
2463930,2,2022-01-31 23:46:00,2022-02-01 00:13:00,NaN,8.94,NaN,None,186,181,0,25.48,0.0,0.5,6.28,0.0,0.3,35.06,NaN,NaN

In [39]:
df_january.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'airport_fee'],
      dtype='object')

### Question 1. 
Read the data for January. 

**How many columns are there?**

In [46]:
print(f"The number of columns is: {len(df_january.columns)}")

The number of columns is: 19

In [50]:

df_january['duration'] = df_january.tpep_dropoff_datetime - df_january.tpep_pickup_datetime
df_january.duration = df_january.duration.apply(lambda td: td.total_seconds() / 60)

### Question 2. Computing duration
Compute the duration variable. It should contain the duration of a ride in minutes.

**What's the standard deviation of the trips duration in January?**

In [48]:
df_january['duration']

0          17.816667
1           8.400000
2           8.966667
3          10.033333
4          37.533333
             ...
2463926     5.966667
2463927    10.650000
2463928    11.000000
2463929    12.050000
2463930    27.000000
Name: duration, Length: 2463931, dtype: float64

In [51]:
std_deviation = df_january['duration'].std()

print(f"Standard Deviation for column `duration` is: {std_deviation}")

Standard Deviation for column `duration` is: 46.44530513776802

### Question 3. Dropping outliers
Check the distribution of the duration variable. There are some outliers. Let's remove them and keep only the records where the duration was between 1 and 60 minutes (inclusive).

**What fraction of the records left after you dropped the outliers?**

In [54]:
before_drop = len(df_january)
print(f'Records before drop: {before_drop}')
df_january = df_january[(df_january.duration >= 1) & (df_january.duration <= 60)]

after_drop = len(df_january)
print(f'Records after dropping: {after_drop}')

print(f'Fraction of the records left after dropped the outliers: {100 - (after_drop/before_drop)}')

Records before drop: 2421440
Records after dropping: 2421440
Fraction of the records left after dropped the outliers: 99.0

### Question 4. One-hot encoding
Let's apply one-hot encoding to the pickup and dropoff location IDs. We'll use only these two features for our model.

* Turn the dataframe into a list of dictionaries
* Fit a dictionary vectorizer
* Get a feature matrix from it

**What's the dimensionality of this matrix (number of columns)?**

In [57]:
categorical = ['PULocationID', 'DOLocationID']
numerical = ['trip_distance']

df_january[categorical] = df_january[categorical].astype(str)

train_dicts = df_january[categorical + numerical].to_dict(orient='records')

dv = DictVectorizer()
X_train = dv.fit_transform(train_dicts)

target = 'duration'
y_train = df_january[target].values

In [59]:

# Convert the feature matrix to an array
feature_array = X_train.toarray()

# Get the feature names
feature_names = dv.get_feature_names_out()

# Print the feature matrix and feature names
print("Feature Matrix:")
print(X_train)
print("\nFeature Array:")
print(feature_array)
print("\nFeature Names:")
print(feature_names)

Feature Matrix:
  (0, 148)	1.0
  (0, 306)	1.0
  (0, 515)	3.8
  (1, 198)	1.0
  (1, 406)	1.0
  (1, 515)	2.1
  (2, 71)	1.0
  (2, 332)	1.0
  (2, 515)	0.97
  (3, 226)	1.0
  (3, 275)	1.0
  (3, 515)	1.09
  (4, 68)	1.0
  (4, 482)	1.0
  (4, 515)	4.3
  (5, 66)	1.0
  (5, 301)	1.0
  (5, 515)	10.3
  (6, 247)	1.0
  (6, 403)	1.0
  (6, 515)	5.07
  (7, 56)	1.0
  (7, 408)	1.0
  (7, 515)	2.02
  (8, 148)	1.0
  :	:
  (2421431, 515)	2.42
  (2421432, 16)	1.0
  (2421432, 417)	1.0
  (2421432, 515)	7.51
  (2421433, 234)	1.0
  (2421433, 345)	1.0
  (2421433, 515)	8.5
  (2421434, 251)	1.0
  (2421434, 393)	1.0
  (2421434, 515)	1.63
  (2421435, 76)	1.0
  (2421435, 506)	1.0
  (2421435, 515)	1.32
  (2421436, 234)	1.0
  (2421436, 268)	1.0
  (2421436, 515)	4.19
  (2421437, 159)	1.0
  (2421437, 274)	1.0
  (2421437, 515)	2.1
  (2421438, 69)	1.0
  (2421438, 312)	1.0
  (2421438, 515)	2.92
  (2421439, 88)	1.0
  (2421439, 352)	1.0
  (2421439, 515)	8.94

Feature Array:
[[0.   0.   0.   ... 0.   0.   3.8 ]
 [0.   0.   0.   ... 0.   0.   2.1 ]
 [0.   0.   0.   ... 0.   0.   0.97]
 ...
 [0.   0.   0.   ... 0.   0.   2.1 ]
 [0.   0.   0.   ... 0.   0.   2.92]
 [0.   0.   0.   ... 0.   0.   8.94]]

Feature Names:
['DOLocationID=1' 'DOLocationID=10' 'DOLocationID=100' 'DOLocationID=101'
 'DOLocationID=102' 'DOLocationID=105' 'DOLocationID=106'
 'DOLocationID=107' 'DOLocationID=108' 'DOLocationID=109'
 'DOLocationID=11' 'DOLocationID=111' 'DOLocationID=112'
 'DOLocationID=113' 'DOLocationID=114' 'DOLocationID=115'
 'DOLocationID=116' 'DOLocationID=117' 'DOLocationID=118'
 'DOLocationID=119' 'DOLocationID=12' 'DOLocationID=120'
 'DOLocationID=121' 'DOLocationID=122' 'DOLocationID=123'
 'DOLocationID=124' 'DOLocationID=125' 'DOLocationID=126'
 'DOLocationID=127' 'DOLocationID=128' 'DOLocationID=129'
 'DOLocationID=13' 'DOLocationID=130' 'DOLocationID=131'
 'DOLocationID=132' 'DOLocationID=133' 'DOLocationID=134'
 'DOLocationID=135' 'DOLocationID=136' 'DOLocationID=137'
 'DOLocationID=138' 'DOLocationID=139' 'DOLocationID=14'
 'DOLocationID=140' 'DOLocationID=141' 'DOLocationID=142'
 'DOLocationID=143' 'DOLocationID=144' 'DOLocationID=145'
 'DOLocationID=146' 'DOLocationID=147' 'DOLocationID=148'
 'DOLocationID=149' 'DOLocationID=15' 'DOLocationID=150'
 'DOLocationID=151' 'DOLocationID=152' 'DOLocationID=153'
 'DOLocationID=154' 'DOLocationID=155' 'DOLocationID=156'
 'DOLocationID=157' 'DOLocationID=158' 'DOLocationID=159'
 'DOLocationID=16' 'DOLocationID=160' 'DOLocationID=161'
 'DOLocationID=162' 'DOLocationID=163' 'DOLocationID=164'
 'DOLocationID=165' 'DOLocationID=166' 'DOLocationID=167'
 'DOLocationID=168' 'DOLocationID=169' 'DOLocationID=17'
 'DOLocationID=170' 'DOLocationID=171' 'DOLocationID=172'
 'DOLocationID=173' 'DOLocationID=174' 'DOLocationID=175'
 'DOLocationID=176' 'DOLocationID=177' 'DOLocationID=178'
 'DOLocationID=179' 'DOLocationID=18' 'DOLocationID=180'
 'DOLocationID=181' 'DOLocationID=182' 'DOLocationID=183'
 'DOLocationID=184' 'DOLocationID=185' 'DOLocationID=186'
 'DOLocationID=187' 'DOLocationID=188' 'DOLocationID=189'
 'DOLocationID=19' 'DOLocationID=190' 'DOLocationID=191'
 'DOLocationID=192' 'DOLocationID=193' 'DOLocationID=194'
 'DOLocationID=195' 'DOLocationID=196' 'DOLocationID=197'
 'DOLocationID=198' 'DOLocationID=2' 'DOLocationID=20' 'DOLocationID=200'
 'DOLocationID=201' 'DOLocationID=202' 'DOLocationID=203'
 'DOLocationID=204' 'DOLocationID=205' 'DOLocationID=206'
 'DOLocationID=207' 'DOLocationID=208' 'DOLocationID=209'
 'DOLocationID=21' 'DOLocationID=210' 'DOLocationID=211'
 'DOLocationID=212' 'DOLocationID=213' 'DOLocationID=214'
 'DOLocationID=215' 'DOLocationID=216' 'DOLocationID=217'
 'DOLocationID=218' 'DOLocationID=219' 'DOLocationID=22'
 'DOLocationID=220' 'DOLocationID=221' 'DOLocationID=222'
 'DOLocationID=223' 'DOLocationID=224' 'DOLocationID=225'
 'DOLocationID=226' 'DOLocationID=227' 'DOLocationID=228'
 'DOLocationID=229' 'DOLocationID=23' 'DOLocationID=230'
 'DOLocationID=231' 'DOLocationID=232' 'DOLocationID=233'
 'DOLocationID=234' 'DOLocationID=235' 'DOLocationID=236'
 'DOLocationID=237' 'DOLocationID=238' 'DOLocationID=239'
 'DOLocationID=24' 'DOLocationID=240' 'DOLocationID=241'
 'DOLocationID=242' 'DOLocationID=243' 'DOLocationID=244'
 'DOLocationID=245' 'DOLocationID=246' 'DOLocationID=247'
 'DOLocationID=248' 'DOLocationID=249' 'DOLocationID=25'
 'DOLocationID=250' 'DOLocationID=251' 'DOLocationID=252'
 'DOLocationID=253' 'DOLocationID=254' 'DOLocationID=255'
 'DOLocationID=256' 'DOLocationID=257' 'DOLocationID=258'
 'DOLocationID=259' 'DOLocationID=26' 'DOLocationID=260'
 'DOLocationID=261' 'DOLocationID=262' 'DOLocationID=263'
 'DOLocationID=264' 'DOLocationID=265' 'DOLocationID=27' 'DOLocationID=28'
 'DOLocationID=29' 'DOLocationID=3' 'DOLocationID=30' 'DOLocationID=31'
 'DOLocationID=32' 'DOLocationID=33' 'DOLocationID=34' 'DOLocationID=35'
 'DOLocationID=36' 'DOLocationID=37' 'DOLocationID=38' 'DOLocationID=39'
 'DOLocationID=4' 'DOLocationID=40' 'DOLocationID=41' 'DOLocationID=42'
 'DOLocationID=43' 'DOLocationID=44' 'DOLocationID=45' 'DOLocationID=46'
 'DOLocationID=47' 'DOLocationID=48' 'DOLocationID=49' 'DOLocationID=5'
 'DOLocationID=50' 'DOLocationID=51' 'DOLocationID=52' 'DOLocationID=53'
 'DOLocationID=54' 'DOLocationID=55' 'DOLocationID=56' 'DOLocationID=57'
 'DOLocationID=58' 'DOLocationID=59' 'DOLocationID=6' 'DOLocationID=60'
 'DOLocationID=61' 'DOLocationID=62' 'DOLocationID=63' 'DOLocationID=64'
 'DOLocationID=65' 'DOLocationID=66' 'DOLocationID=67' 'DOLocationID=68'
 'DOLocationID=69' 'DOLocationID=7' 'DOLocationID=70' 'DOLocationID=71'
 'DOLocationID=72' 'DOLocationID=73' 'DOLocationID=74' 'DOLocationID=75'
 'DOLocationID=76' 'DOLocationID=77' 'DOLocationID=78' 'DOLocationID=79'
 'DOLocationID=8' 'DOLocationID=80' 'DOLocationID=81' 'DOLocationID=82'
 'DOLocationID=83' 'DOLocationID=84' 'DOLocationID=85' 'DOLocationID=86'
 'DOLocationID=87' 'DOLocationID=88' 'DOLocationID=89' 'DOLocationID=9'
 'DOLocationID=90' 'DOLocationID=91' 'DOLocationID=92' 'DOLocationID=93'
 'DOLocationID=94' 'DOLocationID=95' 'DOLocationID=96' 'DOLocationID=97'
 'DOLocationID=98' 'DOLocationID=99' 'PULocationID=1' 'PULocationID=10'
 'PULocationID=100' 'PULocationID=101' 'PULocationID=102'
 'PULocationID=105' 'PULocationID=106' 'PULocationID=107'
 'PULocationID=108' 'PULocationID=109' 'PULocationID=11'
 'PULocationID=111' 'PULocationID=112' 'PULocationID=113'
 'PULocationID=114' 'PULocationID=115' 'PULocationID=116'
 'PULocationID=117' 'PULocationID=118' 'PULocationID=119'
 'PULocationID=12' 'PULocationID=120' 'PULocationID=121'
 'PULocationID=122' 'PULocationID=123' 'PULocationID=124'
 'PULocationID=125' 'PULocationID=126' 'PULocationID=127'
 'PULocationID=128' 'PULocationID=129' 'PULocationID=13'
 'PULocationID=130' 'PULocationID=131' 'PULocationID=132'
 'PULocationID=133' 'PULocationID=134' 'PULocationID=135'
 'PULocationID=136' 'PULocationID=137' 'PULocationID=138'
 'PULocationID=139' 'PULocationID=14' 'PULocationID=140'
 'PULocationID=141' 'PULocationID=142' 'PULocationID=143'
 'PULocationID=144' 'PULocationID=145' 'PULocationID=146'
 'PULocationID=147' 'PULocationID=148' 'PULocationID=149'
 'PULocationID=15' 'PULocationID=150' 'PULocationID=151'
 'PULocationID=152' 'PULocationID=153' 'PULocationID=154'
 'PULocationID=155' 'PULocationID=156' 'PULocationID=157'
 'PULocationID=158' 'PULocationID=159' 'PULocationID=16'
 'PULocationID=160' 'PULocationID=161' 'PULocationID=162'
 'PULocationID=163' 'PULocationID=164' 'PULocationID=165'
 'PULocationID=166' 'PULocationID=167' 'PULocationID=168'
 'PULocationID=169' 'PULocationID=17' 'PULocationID=170'
 'PULocationID=171' 'PULocationID=173' 'PULocationID=174'
 'PULocationID=175' 'PULocationID=177' 'PULocationID=178'
 'PULocationID=179' 'PULocationID=18' 'PULocationID=180'
 'PULocationID=181' 'PULocationID=182' 'PULocationID=183'
 'PULocationID=184' 'PULocationID=185' 'PULocationID=186'
 'PULocationID=187' 'PULocationID=188' 'PULocationID=189'
 'PULocationID=19' 'PULocationID=190' 'PULocationID=191'
 'PULocationID=192' 'PULocationID=193' 'PULocationID=194'
 'PULocationID=195' 'PULocationID=196' 'PULocationID=197'
 'PULocationID=198' 'PULocationID=2' 'PULocationID=20' 'PULocationID=200'
 'PULocationID=201' 'PULocationID=202' 'PULocationID=203'
 'PULocationID=205' 'PULocationID=206' 'PULocationID=207'
 'PULocationID=208' 'PULocationID=209' 'PULocationID=21'
 'PULocationID=210' 'PULocationID=211' 'PULocationID=212'
 'PULocationID=213' 'PULocationID=214' 'PULocationID=215'
 'PULocationID=216' 'PULocationID=217' 'PULocationID=218'
 'PULocationID=219' 'PULocationID=22' 'PULocationID=220'
 'PULocationID=221' 'PULocationID=222' 'PULocationID=223'
 'PULocationID=224' 'PULocationID=225' 'PULocationID=226'
 'PULocationID=227' 'PULocationID=228' 'PULocationID=229'
 'PULocationID=23' 'PULocationID=230' 'PULocationID=231'
 'PULocationID=232' 'PULocationID=233' 'PULocationID=234'
 'PULocationID=235' 'PULocationID=236' 'PULocationID=237'
 'PULocationID=238' 'PULocationID=239' 'PULocationID=24'
 'PULocationID=240' 'PULocationID=241' 'PULocationID=242'
 'PULocationID=243' 'PULocationID=244' 'PULocationID=245'
 'PULocationID=246' 'PULocationID=247' 'PULocationID=248'
 'PULocationID=249' 'PULocationID=25' 'PULocationID=250'
 'PULocationID=252' 'PULocationID=253' 'PULocationID=254'
 'PULocationID=255' 'PULocationID=256' 'PULocationID=257'
 'PULocationID=258' 'PULocationID=259' 'PULocationID=26'
 'PULocationID=260' 'PULocationID=261' 'PULocationID=262'
 'PULocationID=263' 'PULocationID=264' 'PULocationID=265'
 'PULocationID=28' 'PULocationID=29' 'PULocationID=3' 'PULocationID=30'
 'PULocationID=31' 'PULocationID=32' 'PULocationID=33' 'PULocationID=34'
 'PULocationID=35' 'PULocationID=36' 'PULocationID=37' 'PULocationID=38'
 'PULocationID=39' 'PULocationID=4' 'PULocationID=40' 'PULocationID=41'
 'PULocationID=42' 'PULocationID=43' 'PULocationID=44' 'PULocationID=45'
 'PULocationID=46' 'PULocationID=47' 'PULocationID=48' 'PULocationID=49'
 'PULocationID=5' 'PULocationID=50' 'PULocationID=51' 'PULocationID=52'
 'PULocationID=53' 'PULocationID=54' 'PULocationID=55' 'PULocationID=56'
 'PULocationID=57' 'PULocationID=58' 'PULocationID=59' 'PULocationID=6'
 'PULocationID=60' 'PULocationID=61' 'PULocationID=62' 'PULocationID=63'
 'PULocationID=64' 'PULocationID=65' 'PULocationID=66' 'PULocationID=67'
 'PULocationID=68' 'PULocationID=69' 'PULocationID=7' 'PULocationID=70'
 'PULocationID=71' 'PULocationID=72' 'PULocationID=73' 'PULocationID=74'
 'PULocationID=75' 'PULocationID=76' 'PULocationID=77' 'PULocationID=78'
 'PULocationID=79' 'PULocationID=8' 'PULocationID=80' 'PULocationID=81'
 'PULocationID=82' 'PULocationID=83' 'PULocationID=85' 'PULocationID=86'
 'PULocationID=87' 'PULocationID=88' 'PULocationID=89' 'PULocationID=9'
 'PULocationID=90' 'PULocationID=91' 'PULocationID=92' 'PULocationID=93'
 'PULocationID=94' 'PULocationID=95' 'PULocationID=96' 'PULocationID=97'
 'PULocationID=98' 'trip_distance']

In [62]:
print("Matrix number of columns:")
print(X_train.shape[1]-1)

Matrix number of columns:
515

In [ ]:

lr = LinearRegression()
lr.fit(X_train, y_train)

y_pred = lr.predict(X_train)

mean_squared_error(y_train, y_pred, squared=False)